@font-face {
	font-family: 'Fira Code';
	src: url('fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Just looks better with a little bit smaller root text size for the rest of the page. */
	font-size: 15px;
}

:root {
	background-color: #000 !important;
}

/* TODO: Grid/Flexbox layout - fill content */
body {
	color: #ffffffd9;
	font-family: 'Fira Code', monospace;
	/* min-height: 100vh; */
}

#display {
	display: grid;
	justify-content: center;
	background: #1e1d1d;
	min-height: 100vh;
}

#content {
	padding: 3px;
	width: 120ch;
	max-width: 120ch;
	background: #100F0F;
}

a {
	color: #0bc;
	text-decoration: none;
}

p {
	min-height: 1ch;
}

.bold {
	font-weight: bold;
	font-size: 1.05rem;
	line-height: 1.5rem;
}

#prompt-wrapper {
	padding: inherit;
	width: inherit;
	max-width: inherit;
	background: inherit;
	display: flex;
	width: 100%;
}


#cli_output{
	margin-bottom: 5px;
}

.cli-prompt {
	color: #0f0;
}

.prompt-dollar-sign {
	color: #0bc;
}

.prompt-tilde {
	color: #ff0096;
}

#cli_input,
#cli_input:focus,
#cli_input:hover {
	background: inherit;
	border: none;
	color: inherit;
	outline: none;
	font-family: inherit;
	display:flex;
	flex: 1 1 auto;
	padding-left: 5px;
}

